<div class="fondoLogin">
    <div class="container">
        <div class="Login-box col-sm-11 col-md-8 col-lg-4">

            <img src="../../assets/image/logo.png" class="image">

            <form>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Usuario">
                </div>

                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Contraseña">
                </div>
            </form>
            <div class="container botones">
                <button class="btn btn-primary ingresar">Ingresar</button>
                <br>
                <a href="">Registrarse</a>
            </div>

            <div class="container redes-sociales">
                <a href="facebook" class="icono">
                    <i class="fa fa-facebook"></i>
                </a>

                <a href="twitter" class="icono">
                    <i class="fa fa-twitter"></i>
                </a>

                <a href="instagram" class="icono">
                    <i class="fa fa-instagram"></i>
                </a>

                <a href="google" class="icono">
                    <i class="fa fa-google"></i>
                </a>
            </div>
        </div>
        <footer>
            <span>
                <a href="https://www.facebook.com/gabrielaflores09"><strong>Gabriela C. Flores</strong> </a>
            </span>
        </footer>
        <br>
    </div>
</div>