.fondoLogin {
    background-image: url("../../assets/image/fondo/fondo4.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top right;
}

.Login-box {
    background: black;
    opacity: 0.8;
    padding: 0px 30px;
    margin: 80px auto;
    border-radius: 15px;
}

.container {
    padding-top: 10px;
    padding-bottom: 10px;
}

.image {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    position: relative;
    overflow: hidden;
    top: calc(-120px/2);
    left: calc(50% - 60px);
}

.ingresar {
    background: purple;
    border: 2px solid purple;
    color: white;
    text-align: center;
    outline: none;
    box-shadow: none;
    width: 60%;
    margin: 12px 0px;
}

.botones {
    text-align: center;
}

.botones a {
    color: white;
}

footer {
    float: left;
    color: white;
    /* display: contents; */
    background-color: white;
    padding: 3px;
    opacity: 0.8;
}

h2 {
    font-style: italic;
    color: purple;
    border-style: double;
    text-align: center;
}

hr {
    width: 80%;
    border-top: 1px solid white;
}

.Login-box input[type="text"],
.Login-box input[type="password"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    color: white;
    box-shadow: none;
}

.Login-box input[type="text"]:hover,
.Login-box input[type="password"]:hover {
    border: none;
    border-bottom: 2px solid purple;
    background: transparent;
    box-shadow: none;
}

.redes-sociales {
    text-align: center;
    width: 100%;
    padding: 20px 0px;
}

.icono {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 10px;
    box-shadow: 0px 5px 15px -5px #0006;
    color: white;
    overflow: hidden;
    border-radius: 50%;
    line-height: 50px;
    font-size: 24px;
    transition: 0.2s linear;
}

.icono:hover {
    transform: scale(1.3);
    color: #f1f1f1;
    background: purple;
}