.fondoLogin {
    background-image: url("../../assets/image/fondo/fondo4.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top right;
}

.Login-box {
    background: black;
    opacity: 0.8;
    padding: 0px 30px;
    margin: 135px auto;
    border-radius: 15px;
}

.container {
    padding-top: 10px;
    padding-bottom: 10px;
}

.image {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    position: relative;
    overflow: hidden;
    top: calc(-120px/2);
    left: calc(50% - 60px);
}

.ingresar {
    float: right;
}

footer {
    float: left;
    color: white;
    /* display: contents; */
    background-color: white;
    padding: 3px;
    opacity: 0.8;
}

h2 {
    font-style: italic;
    color: purple;
    border-style: double;
    text-align: center;
}

hr {
    width: 80%;
    border-top: 1px solid white;
}

.Login-box input[type="text"],
.Login-box input[type="password"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    color: white;
}