<div class="fondoLogin">
    <div class="container-fluid">
        <div class="Login-box col-md-4">
            <div class="container logo">
                <img src="../../assets/image/logo3.png" class="image">
            </div>
            <h2 class="ml-auto mr-auto col-md-10">Log In Here</h2>
            <!-- <hr> -->
            <br>
            <form>
                <div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Usuario">
                    </div>

                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Contraseña">
                    </div>
                </div>
            </form>
            <div class="container botones">
                <br>
                <br>
                <button class="btn btn-primary ingresar">Ingresar</button>
                <br>
                <a href="">Registrarse</a>
            </div>
            <br>
            <br>
            <div class="container redes-sociales">
                <a href="facebook" class="icono">
                    <i class="fa fa-facebook"></i>
                </a>

                <a href="twitter" class="icono">
                    <i class="fa fa-twitter"></i>
                </a>

                <a href="instagram" class="icono">
                    <i class="fa fa-instagram"></i>
                </a>

                <a href="google" class="icono">
                    <i class="fa fa-google"></i>
                </a>
            </div>
            <br>
        </div>
        <footer>
            <span>
            <a href="https://www.facebook.com/gabrielaflores09"><strong>Gabriela C. Flores</strong> </a>
        </span>
        </footer>
    </div>
</div>