<div class="fondoLogin">
    <div class="container">
        <div class="contenido col-md-5 ml-auto mr-auto">

            <div class="contenidoLogin ml-auto mr-auto">
                <div class="logo">
                    <img class="container" src="../../assets/image/nombreLogo.png">
                </div>
                <div class="logo-image">
                    <img class="container" src="../../assets/image/logo5.png">
                </div>
                <hr width="80%">
                <br>
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="usuario">
                    </div>

                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="contraseña">
                    </div>
                    <a href="registrarse">Registrarse</a>
                    <br>
                    <button [routerLink]="['/menu']" class="btn btn-primary ingresar">Ingresar</button>
                </form>
                <br>
                <br>
            </div>

        </div>
    </div>

    <br>
    <br>

    <footer class="pageFooter">
        <div class="container">
            <strong><a href="https://www.facebook.com/gabrielaflores09">Gabriela C. Flores</a></strong>
        </div>
    </footer>

    <br>
    <br>
</div>